@import "../_core/variables";



.well{
    background-color: transparent;
    border-color: #D1D1D1;
    border-radius: 5px;
    
    &.well.well-filter {
        
    	margin: 0;
    	padding: 0;
	    border-color: transparent;
    	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
	}

}

