@import "../_core/variables";


.navbar {
    margin-bottom: 0;

    &.navbar-default {
        background-color: #353F4B;
        border: none;

        .navbar-nav {

            
        }

        .navbar-brand {
            height: auto;
            background-color: #29323B;

           .brand{
                
                background-image: url(#{$root+"images/imgs/logo-maxmilhas-footer.png"});
                width: 117px;
                height: 37px;

            }
        }
        
        h1 {
            font-size: 15px;
            color: #fff;
            padding: 34px 14px 0;
            margin: 0;

        }
    }
}